// border
.rounded-10em {
  border-radius: 10em;
}
// if becomes smell 5rem
// spacing
.px-6 {
  padding-left: 4rem;
  padding-right: 4rem;
}
.py-7 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

// 