<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product</title>
  <!-- bootStrapCss -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <!-- localCss -->
  <link rel="stylesheet" href="../css/main.css">
  <style>
    .rotate {
      transform: rotate(45deg);
      /* 設定旋轉角度，這裡是45度 */
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="container">
      <div v-if="productsData.length===0" class="d-flex align-items-center justify-content-center mt-5 flex-column">
        <div class="spinner-grow text-dark" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <br>
        <h4>請稍候，加載中</h4>
      </div>
      <div v-else>
        <div class="text-end mt-4">
          <button type="button" @click="scrollToBottom" class="btn">前往底部</button>
          <button class="btn btn-solid-spec" @click="getAdminAddProductModal">
            建立新的產品
          </button>
        </div>
        <h6 v-if="!productsData">目前尚未有任何產品，請點擊「建立新的產品」新增</h6>
        <table class="table mt-4 align-middle" v-else>
          <thead>
            <tr>
              <th scope="col">圖片</th>
              <th scope="col">分類</th>
              <th scope="col">產品名稱</th>
              <th scope="col">原價</th>
              <th scope="col">售價</th>
              <th scope="col">是否啟用</th>
              <th scope="col">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in productsData">
              <th scope="row"><img :src="item.imageUrl" :alt="item.title" class="img-fluid" width="50"></th>
              <td>{{ item.category }}</td>
              <td>{{ item.title }}</td>
              <td>{{ item.origin_price}}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.is_enabled === 1 ? '啟用' : '未啟用'}}</td>
              <td>
                <div class="d-flex justify-content-start align-items-center">
                  <button class="btn btn-sm resetBorderRadius btn-normal-medium block w-50 delProductModalBtn"
                    type="button" @click="getAdminDelProductModal(item.id)">
                    刪除
                  </button>
                  <button class="btn btn-sm resetBorderRadius btn-normal-medium block w-50 productModalBtn"
                    type="button" @click="getAdminProductModal(item.id)">
                    編輯
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <p ref="scrollContainer">分頁器</p>
      </div>
    </div>
    <!-- Modal -->
    <!-- 產品編輯或新增 -->
    <div class="modal fade" id="bsProductModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">{{inEditProductMode ? '編輯產品' : '新增產品'}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active w-50" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                  type="button" role="tab" aria-controls="nav-home" aria-selected="true">商品內容</button>
                <button class="nav-link w-50" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                  type="button" role="tab" aria-controls="nav-profile" aria-selected="false">商品圖片</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                tabindex="0">
                <div class="row mt-3">
                  <div class="row">
                    <div class="col-10">
                      <div class="mb-3">
                        <label for="title" class="form-label">標題</label>
                        <input type="text" class="form-control" id="title" placeholder="請輸入標題" v-model="showData.title">
                      </div>
                    </div>
                    <div class="col-2 d-flex align-items-center">
                      <div class="form-check mt-3">
                        <input type="checkbox" class="form-check-input" id="is_enabled" placeholder="請輸入標題"
                          :true-value="1" :false-value="0" v-model="showData.is_enabled">
                        <label for="is_enabled" class="form-check-label">是否啟用</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3 col">
                      <label for="category" class="form-label">分類</label>
                      <input type="text" class="form-control" id="category" placeholder="請輸入分類"
                        v-model="showData.category">
                    </div>
                    <div class="mb-3 col">
                      <label for="unit" class="form-label">單位</label>
                      <input type="text" class="form-control" id="unit" placeholder="請輸入單位" v-model="showData.unit">
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3 col">
                      <label for="original_price" class="form-label">原價</label>
                      <input type="text" class="form-control" id="original_price" placeholder="請輸入原價"
                        v-model.number="showData.origin_price">
                    </div>
                    <div class="mb-3 col">
                      <label for="price" class="form-label">售價</label>
                      <input type="text" class="form-control" id="price" placeholder="請輸入售價"
                        v-model.number="showData.price">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label for="description" class="form-label">產品描述</label>
                        <textarea class="form-control" id="description" rows="3"
                          v-model="showData.description"></textarea>
                      </div>
                    </div>
                    <div class="col">
                      <div class="mb-3">
                        <label for="content" class="form-label">說明內容</label>
                        <textarea class="form-control" id="content" rows="3" v-model="showData.content"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                tabindex="0">
                <div class="row row-cols-4 mt-3">
                  <div class="col mb-3">
                    <div class="mb-3">
                      <label for="imageUrl" class="form-label">輸入主要圖片網址</label>
                      <input type="text" class="form-control" placeholder="請輸入主要圖片連結" v-model="showData.imageUrl">
                    </div>
                    <img :src="showData.imageUrl" :alt="showData.title" class="img-fluid">
                  </div>
                  <div class="col mb-3" v-for="(item,index) in showData.imagesUrl">
                    <div class="mb-3">
                      <label for="imageUrl" class="form-label">輸入其他圖片網址</label>
                      <button type="button" class="btn-close float-end" aria-label="Close" @click="deleteImage(index)">
                      </button>
                      <input type="text" class="form-control" placeholder="請輸入其他圖片連結"
                        v-model="showData.imagesUrl[index]">
                    </div>
                    <img v-if="showData.imagesUrl[index]" :src="showData.imagesUrl[index]" :alt="showData.title+index"
                      class="img-fluid">
                  </div>
                  <div class="col mb-3">
                    <div class="card">
                      <div class="card-body">
                        <label for="formFile" class="form-label">上傳圖片檔案</label>
                        <input class="form-control" type="file" id="formFile">
                        <hr>
                        <button class="btn btn-solid-gray w-100" @click="addImage">手動新增圖片</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-normal-gray" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-solid-spec"
              @click="inEditProductMode ? putAdminProduct(showData.id) : postAdminProduct()">{{inEditProductMode ? '更新'
              : '新增'}}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 刪除產品 -->
    <div class="modal fade" id="bsDeleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-main-spec text-main-light">
            <h3 class="modal-title fs-5" id="exampleModalLabel">
              刪除產品
            </h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>是否刪除<strong class="text-main-spec">{{showData.title}}</strong>？</p>
            <p>刪除後將無法恢復</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-normal-gray" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-normal-spec" @click="deleteAdminProduct">刪除此產品</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 結果moddal -->
    <div class="modal fade" id="bsResultModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
      tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">
              {{ serverMessage.success ? '成功' : '失敗'}}
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {{ serverMessage.message }}
          </div>
          <div class="modal-footer">
            <button class="btn btn-normal-gray" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">關閉</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- bootStrapJs -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <!-- axios -->
  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  <!-- 引入本地 product.js -->
  <script src="./js/product.js" type="module"></script>
</body>

</html>