<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product</title>
  <!-- bootStrapCss -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <!-- localCss -->
  <link rel="stylesheet" href="../css/main.css">
  <style>
    .rotate {
      transform: rotate(45deg);
      /* 設定旋轉角度，這裡是45度 */
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="d-flex">
      <div class="col-2 bg-main-medi vh-100 px-3">
        <div class="d-flex justify-content-center  my-3">
          <img
            src="https://storage.googleapis.com/vue-course-api.appspot.com/orli-hexschool/1705540904165.png?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=IoVxYU9seiRBD6INQsp3uctsnTewV9snKd%2FzjWQ4bkJLOSFmwIeImy2glNTf6hVHgKH2DwA6NMWfkgr%2Fm4Jw8cEVB1ZqX%2BReWi3mFMSJC0D%2FsLIzNmYYwm%2Bquk4txAb4yFX%2FSDrMRviJYu2bpfIRWeC2JlEECvHG3krC4E%2BBxBaHaVZtbO8fpewJVo1k2dUEeYGsGUN3jmfBEJ%2B7GuLROlsz5NC25Y1fZER%2BiOoIwB47GlWp55SV8XCSaUp%2F0d6FnKYhvW3NE1zfkfOxpJ7o2ZcULT0vgxBsman45C6Qn1yAYGvkrjKgpowMLXX9erkDy45eOV8td8HZ5%2Fe0hz24lQ%3D%3D"
            alt="" width="70">
        </div>
        <ul class="list-group">
          <li class="list-group-item active" aria-current="true">An active item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
        </ul>
      </div>
      <div class="container">
        <div class="row">

          <div class="col">
            <div class="text-end mt-4">
              <button class="btn btn-solid-spec">
                建立新的產品
              </button>
            </div>
            <table class="table mt-4 align-middle">
              <thead>
                <tr>
                  <th scope="col">圖片</th>
                  <th scope="col">分類</th>
                  <th scope="col">產品名稱</th>
                  <th scope="col">原價</th>
                  <th scope="col">售價</th>
                  <th scope="col">是否啟用</th>
                  <th scope="col">操作</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><img
                      src="https://storage.googleapis.com/vue-course-api.appspot.com/orli-hexschool/1705394126679.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=gxT%2BTvBKSrttFoJj4kBcfPecRugk23ofPXXqgFeq%2F5IzS%2F6tBJS8QMKPCjdbDwEkeUpzTxAwkqkWoRqkYuU0GxsAzIu67NC7Ab07k2B%2BbRMYxhomDfx6Qso%2B9pvnTVG3twtQ%2FPKzXVyg79PHQd2TLraKYN8bkN8OPhmGFt5KRkMO31nIv6F%2FMhCpreqgzYKVLED8t6B1dmOHX7NLJA87g0wGfiaRHRxMc98a5QsDMRcpvslssqyyzAyio82ccllZgstirEQBk4brt3uaooswcTSmtoR%2BbnE5boPhhR3ji%2BzpUq0frhjyZWTEWF7k37xjn1a%2Fl8LQJ7AZie%2BkKEEWhA%3D%3D"
                      alt="" class="img-fluid" width="50"></th>
                  <td>香氛蠟燭</td>
                  <td>HARMONY 愜意｜花香調｜Garden Harmony 愜意花園系列｜香氛蠟燭170g</td>
                  <td>750</td>
                  <td>680</td>
                  <td>啟用</td>
                  <td>
                    <div class="d-flex justify-content-start align-items-center">
                      <button class="btn btn-sm resetBorderRadius btn-normal-medium block w-50 delProductModalBtn"
                        type="button">
                        刪除
                      </button>
                      <button class="btn btn-sm resetBorderRadius btn-normal-medium block w-50 productModalBtn"
                        type="button">
                        編輯
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
    <!-- Modal -->
    <!-- 產品編輯或新增 -->
    <div class="modal fade myProductModal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
      tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">編輯產品</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active w-50" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                  type="button" role="tab" aria-controls="nav-home" aria-selected="true">商品內容</button>
                <button class="nav-link w-50" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                  type="button" role="tab" aria-controls="nav-profile" aria-selected="false">商品圖片</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                tabindex="0">
                <div class="row mt-3">
                  <div class="row">
                    <div class="col-10">
                      <div class="mb-3">
                        <label for="title" class="form-label">標題</label>
                        <input type="text" class="form-control" id="title" placeholder="請輸入標題">
                      </div>
                    </div>
                    <div class="col-2 d-flex align-items-center">
                      <div class="form-check mt-3">
                        <input type="checkbox" class="form-check-input" id="is_enabled" placeholder="請輸入標題"
                          :true-value="1" :false-value="0">
                        <label for="is_enabled" class="form-check-label">是否啟用</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3 col">
                      <label for="category" class="form-label">分類</label>
                      <input type="text" class="form-control" id="category" placeholder="請輸入分類">
                    </div>
                    <div class="mb-3 col">
                      <label for="unit" class="form-label">單位</label>
                      <input type="text" class="form-control" id="unit" placeholder="請輸入單位">
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3 col">
                      <label for="original_price" class="form-label">原價</label>
                      <input type="text" class="form-control" id="original_price" placeholder="請輸入原價">
                    </div>
                    <div class="mb-3 col">
                      <label for="price" class="form-label">售價</label>
                      <input type="text" class="form-control" id="price" placeholder="請輸入售價">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label for="description" class="form-label">產品描述</label>
                        <textarea class="form-control" id="description" rows="3"></textarea>
                      </div>
                    </div>
                    <div class="col">
                      <div class="mb-3">
                        <label for="content" class="form-label">說明內容</label>
                        <textarea class="form-control" id="content" rows="3"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                tabindex="0">
                <div class="row row-cols-4 mt-3">
                  <div class="col">
                    <div class="mb-3">
                      <label for="imageUrl" class="form-label">輸入主要圖片網址</label>
                      <input type="text" class="form-control" placeholder="請輸入主要圖片連結">
                    </div>
                    <img
                      src="https://storage.googleapis.com/vue-course-api.appspot.com/orli-hexschool/1705394126679.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=gxT%2BTvBKSrttFoJj4kBcfPecRugk23ofPXXqgFeq%2F5IzS%2F6tBJS8QMKPCjdbDwEkeUpzTxAwkqkWoRqkYuU0GxsAzIu67NC7Ab07k2B%2BbRMYxhomDfx6Qso%2B9pvnTVG3twtQ%2FPKzXVyg79PHQd2TLraKYN8bkN8OPhmGFt5KRkMO31nIv6F%2FMhCpreqgzYKVLED8t6B1dmOHX7NLJA87g0wGfiaRHRxMc98a5QsDMRcpvslssqyyzAyio82ccllZgstirEQBk4brt3uaooswcTSmtoR%2BbnE5boPhhR3ji%2BzpUq0frhjyZWTEWF7k37xjn1a%2Fl8LQJ7AZie%2BkKEEWhA%3D%3D"
                      alt="" class="img-fluid">
                  </div>
                  <div class="col">
                    <div class="mb-3">
                      <label for="imageUrl" class="form-label">輸入其他圖片網址</label>

                      <button type="button" class="btn-close float-end" aria-label="Close"></button>
                      <input type="text" class="form-control" placeholder="請輸入其他圖片連結">
                    </div>
                    <img
                      src="https://storage.googleapis.com/vue-course-api.appspot.com/orli-hexschool/1705394126679.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=gxT%2BTvBKSrttFoJj4kBcfPecRugk23ofPXXqgFeq%2F5IzS%2F6tBJS8QMKPCjdbDwEkeUpzTxAwkqkWoRqkYuU0GxsAzIu67NC7Ab07k2B%2BbRMYxhomDfx6Qso%2B9pvnTVG3twtQ%2FPKzXVyg79PHQd2TLraKYN8bkN8OPhmGFt5KRkMO31nIv6F%2FMhCpreqgzYKVLED8t6B1dmOHX7NLJA87g0wGfiaRHRxMc98a5QsDMRcpvslssqyyzAyio82ccllZgstirEQBk4brt3uaooswcTSmtoR%2BbnE5boPhhR3ji%2BzpUq0frhjyZWTEWF7k37xjn1a%2Fl8LQJ7AZie%2BkKEEWhA%3D%3D"
                      alt="" class="img-fluid">
                  </div>
                  <div class="col">
                    <div class="card">
                      <div class="card-body">
                        <label for="formFile" class="form-label">上傳其他圖片檔案</label>
                        <input class="form-control" type="file" id="formFile">
                        <p class="card-text mt-3">若您沒有圖片網址，請使用「上傳其他圖片檔案」服務</p>
                        <hr>
                        <button class="btn btn-solid-gray w-100">手動新增其他圖片</button>
                        <p class="card-text mt-3">若您有圖片網址，可將既有的圖片網址輸入在輸入框中</p>
                        <hr>
                        <sapn>刪除圖片請按右上角的</sapn>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-normal-gray" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-solid-spec">儲存</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 刪除產品 -->
    <div class="modal fade myDelProductModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-main-spec text-main-light">
            <h1 class="modal-title fs-5" id="exampleModalLabel">刪除產品</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>是否刪除<strong class="text-main-spec">這個商品</strong>？</p>
            <p>刪除後將無法恢復</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-normal-gray" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-normal-spec">確定</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- bootStrapJs -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="./js/product.js"></script>
</body>

</html>